/node_modules/
/frontend/node_modules/

/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# dotenv / secrets
.env
.env.*
!.env.example

/frontend/.env*
/backend/.env*
/backend/config/config.env